<!DOCTYPE html>
<html>
 <head>
  <title>Singly Django Example</title>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

  <script>
   var accessToken = '{{ user_profile.access_token }}';
  </script>

  <script src="/static/app.js"></script>

  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />
  <script>
  $(function() {
    var availableSearches = [
      "Beyonce",
      "Nicole Richie",
      "Sarah Jessica Parker",
      "Amy Odell",
      "Li Bingbing",
      "Kate Middleton",
      "Miroslava Duma",
      "Rachel Zoe",
      "Zhou Xun",
      "Emma Stone",
      "Jessica Alba",
      "Audrey Hepburn",
      "Prabal Gurung",
      "Chanel"
    ];
    $( "#search" ).autocomplete({
      source: availableSearches
    });
  });
  </script>
 </head>

 <body>
	<center>
    <h1><a href="/">Find Your Muse</a></h1>
	 <form action="/results" method="get" class="form-inline address-search">
           <input id="search" type="text" size="175" name="q" placeholder="Who's your muse?" class="input-xlarge">
           <button type="submit" class="btn btn-success">Search</button>
       </form>
	{% for image in search_term %}
		<img src="{{image.image}}"></a>
		<a href="{{image.url}}">link</a>
		{{image.text}}
		<br>
	{% endfor %}
	</center>
    <!-- <p>Register with one or more of these services:</p>

    <ul id="auth">
    {% for service in services %}
        <li>
            <a href="/authenticate/{{ service.lower }}">
                {% if service.lower in profiles %}
                    <span class="check">&#10003;</span>
                {% endif %}
                {{ service }}
            </a>
        </li>
    {% endfor %}
    </ul>

    <div id="empowered">
     <a href="http://singly.com/"><img src="/static/empowered.png" /></a>
    </div>
    {% if request.user.is_authenticated %}
    <div id="access-token-wrapper">
        <p>Here's your access token for making API calls directly: <input type="text" id="access-token" value="{{ user_profile.access_token }}" /></p>
        <p>Profiles: <input type="text" id="access-token" value="{{ user_profile.profiles }}" /></p>
    </div>
    <ul id="twitter"></ul>
    {% endif %}    -->
  </body>
</html>
